POProcessing_CCProject1/SOA/WSDLs/approveLargeOrder.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="approveLargeOrder"
     targetNamespace="http://xmlns.oracle.com/POProcessingApplication/POProcessing_CCProject1/approveLargeOrder"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:client="http://xmlns.oracle.com/POProcessingApplication/POProcessing_CCProject1/approveLargeOrder"
     xmlns:ns1="http://xmlns.oracle.com/ns/order"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:ns2="http://www.globalcompany.com/ns/OrderBooking/rules"
    >
    <plnk:partnerLinkType name="approveLargeOrder">
        <plnk:role name="approveLargeOrderProvider" portType="client:approveLargeOrder"/>
        <plnk:role name="approveLargeOrderRequester" portType="client:approveLargeOrderCallback"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/ns/order" schemaLocation="../Schemas/internalorder.xsd"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.globalcompany.com/ns/OrderBooking/rules" schemaLocation="../Schemas/OrderBookingDiscount.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="approveLargeOrderRequestMessage">
        <wsdl:part name="payload" element="ns1:Order"/>
    </wsdl:message>
    <wsdl:message name="approveLargeOrderResponseMessage">
        <wsdl:part name="payload" element="ns1:Order"/>
    </wsdl:message>
    <wsdl:portType name="approveLargeOrder">
        <wsdl:operation name="process">
            <wsdl:input message="client:approveLargeOrderRequestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="approveLargeOrderCallback">
        <wsdl:operation name="processResponse">
            <wsdl:input message="client:approveLargeOrderResponseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
